<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1>Logged in</h1>

<p>Welcome, <%= current_user.email %></p>

<%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn-secondary' %>