<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<h1>Logged out</h1>

<p>You have been successfully logged out.</p>

<%= link_to 'Log in', login_path, class: 'btn btn-primary' %>